.subpageBanner {
    padding-top: 0px;
    padding-bottom: 50px;
    min-height: inherit !important;
}
.contact-info{
    color: #dee2e6 !important;
}

.link-style {
    color: #007bff; /* Example blue color, similar to a traditional hyperlink */
    text-decoration: underline;
    cursor: pointer;
  }
  
  .link-style:hover {
    color: #0056b3; /* Darker blue on hover */
  }
  
.link-style.rotate {
    transform: rotate(180deg); 
    transition: transform 0.3s ease; 
  }