.package {
    margin-top: 15px;
    color: #777;
    padding: 40px;
    border-radius: 7px;
}

.package h3 {
    font-size: 18px;
    margin-bottom: 30px;
}

.package .img-wrap {
    display: block;
    margin: 0 auto 30px auto;
    width: 80px;
}

.package .img-wrap img {
    width: 80px;
}

.text-cursive {
    margin-top: 195px;
}

a:not([href]):not([tabindex]) {
    color: antiquewhite;
    text-decoration: none;
}
.btn-indicator::after {
    content: "";
    display: inline-block;
    margin-left: 8px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff; 
    transition: transform 0.3s ease;
}

.btn-indicator.rotate::after {
    transform: rotate(180deg);
}

.btn {
    width: 60%;
}