.site-section {
  padding: 2.5em 0;
}

@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}

.site-section.site-section-sm {
  padding: 4em 0;
}


.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5);
}



.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image.overlay {
  position: relative;
}

.bg-image.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.bg-image>.container {
  position: relative;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {

  .display-1,
  .display-3 {
    font-size: 3rem;
  }
}

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.play-single-big>span {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
}

.play-single-big:hover {
  width: 120px;
  height: 120px;
}

.overlap-to-top {
  margin-top: -150px;
}



/* Blocks */
.site-section-cover {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.site-section-cover,
.site-section-cover .container {
  position: relative;
  z-index: 2;
}

.site-section-cover,
.site-section-cover .container>.row {
  height: calc(100vh - 196px);
  min-height: 777px;
}

@media (max-width: 991.98px) {

  .site-section-cover,
  .site-section-cover .container>.row {
    height: calc(70vh - 196px);
    min-height: 777px;
  }
}

.site-section-cover.overlay {
  position: relative;
}

.site-section-cover.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.site-section-cover.inner-page,
.site-section-cover.inner-page .container>.row {
  height: auto;
  min-height: auto;
  padding: 2em 0;
}

.site-section-cover.img-bg-section {
  background-size: cover;
  background-repeat: no-repeat;
}

.site-section-cover h1 {
  font-size: 3rem;
  color: #fff;
  line-height: 1;
}

@media (max-width: 991.98px) {
  .site-section-cover h1 {
    font-size: 2rem;
  }
}

.site-section-cover p {
  font-size: 18px;
  color: #fff;
}

.site-section {
  padding: 7rem 0;
}

@media (max-width: 991.98px) {
  .site-section {
    padding: 3rem 0;
  }
}

.post-entry {
  background: #fff;
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.post-entry:hover {
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
}

.post-entry h2 {
  font-size: 20px;
}

.post-entry *:last-child {
  margin-bottom: 0;
}

.by {
  color: #000;
  border-bottom: 1px dotted #ccc;
}

.by:hover {
  border-bottom: 1px dotted #fd4d40;
}

.form-control {
  border: none;
  border: 1px solid #e6e6e6;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  border: 1px solid #666666;
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories li,
.sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}

.categories li:last-child,
.sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a,
.sidelink li a {
  display: block;
}

.categories li a span,
.sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

.categories li.active a,
.sidelink li.active a {
  color: #000;
  font-style: italic;
}

.post-meta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.post-meta a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.slide {
  height: 100vh;
  min-height: 900px;
  background-size: cover;
}

.border-w-2 {
  border-width: 2px !important;
}

.testimonial-2 {
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.1);
}

.testimonial-2 blockquote {
  font-size: 18px;
}

.testimonial-2 .v-card img {
  width: 50px;
  margin: 0 auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  border-radius: 50%;
}

/* barberz */
.section-heading {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #fd4d40;
}

@media (max-width: 991.98px) {
  .section-heading {
    font-size: 2rem;
  }
}

.section-heading:after {
  width: 70px;
  height: 2px;
  background: #fd4d40;
  bottom: 0;
  left: 0;
  font-size: 22px;
  content: "";
  position: absolute;
  color: #ccc;
}

.section-heading.primary-color-icon:after {
  color: #fd4d40;
}

.section-heading.text-center:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


/* Noxen */
.site-info {
  line-height: 1.2;
  color: #fff;
  font-size: .9rem;
}

.site-info .block-icon {
  font-size: 2rem;
  color: #fd4d40;
}

.top-social a {
  display: inline-block;
  padding: 20px;
}

.menu-wrap {
  padding: 10px 20px;
  background: #fff;
  border-radius: 100px;
}

.subtitle {
  font-size: 13px;
  text-transform: uppercase;
  color: #ccc;
}

.feature-1 {
  padding: 30px;
  background: #edf7ff;
}

.feature-1 h3 {
  font-size: 18px;
}

.feature-1 p {
  font-size: 14px;
  color: #9aa3a6;
}

.feature-1 .wrap-icon {
  font-size: 2rem;
}

.sign img {
  width: 200px;
}

.block-2 {
  padding: 40px;
  position: relative;
  text-align: center;
}

.block-2 .wrap-icon {
  position: relative;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  display: block;
  border-radius: 50%;
  margin-top: -70px;
  margin-bottom: 30px;
}

.block-2 .wrap-icon>span {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block-2 h2 {
  font-size: 18px;
  color: #fff;
}

.block-2 p {
  color: rgba(255, 255, 255, 0.7);
}

.block-2.red,
.block-2.red .wrap-icon {
  background-color: #fd4d40;
}

.block-2.yellow,
.block-2.yellow .wrap-icon {
  background-color: #fdb62f;
}

.block-2.teal,
.block-2.teal .wrap-icon {
  background-color: #16c3b0;
}

.text-red {
  color: #fd4d40;
}

.text-yellow {
  color: #fdb62f;
}

.text-teal {
  color: #16c3b0;
}

.package {
  margin-top: 15px;
  color: #777;
  padding: 40px;
  border-radius: 7px;
}

.package h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

.package .img-wrap {
  display: block;
  margin: 0 auto 30px auto;
  width: 80px;
}

.package .img-wrap img {
  width: 80px;
}

.testimonial-3-wrap {
  background: #fd4d40;
  padding: 30px;
  -webkit-box-shadow: 0 5px 30px -10px rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 30px -10px rgba(255, 255, 255, 0.5);
}

.testimonial-3 {
  color: #fff;
}

.testimonial-3 .vcard-wrap {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
}

.testimonial-3 .vcard {
  width: 80px;
}

.testimonial-3 .position {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

.testimonial-3 h3 {
  font-size: 20px;
  color: #fff;
}

.testimonial-3 p {
  font-size: 20px;
}

.bg-teal {
  background: #16c3b0;
}

