/* List.css */

.party-cardD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #c0bdbb;
  background-color: #d4cdcd;
  box-shadow: 0 8px 16px rgba(54, 51, 51, 0.2);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 350px;
}

.party-cardD h3 {
  font-size: calc(1.5rem + 4px);
  margin-bottom: 10px;
  color: #0066cc;
  font-family: 'Dancing Script', cursive;
}

.party-cardD p {
  text-align: center;
  color: #8b4513; 
  font-size: calc(1.3rem + 2px);
  font-family: 'Dancing Script', cursive;
  margin-bottom: 20px;
}

.party-cardD .learn-more {
  margin-top: auto;
  margin-left: 100px; 
}
.learn-more {
  margin-bottom: -104px;
  margin-right: 10px;
}
.create-btn {
  width: 39% !important;
}
.welcome-msg{
  font-weight: 300;
  color: #212529 !important;
}