/* Edit.css */

.btn {
  width: 28%;

}

.edit-form .form-control {
  margin-bottom: 10px;
  width: 100%;
}

.partyName-error,
.details-error {
  border: 1px solid red;
}

.recicle-bin {
  font-size: 20px;
  color: white;
}

.edit-form .button-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  margin-top: 20px; 
}

.edit-form .btn {
  padding: 10px 15px; 
  width: 48%; 
  text-align: center; 
}

@media (max-width: 770px) {
  .edit-form .button-container {
    flex-direction: column; 
    align-items: stretch; 
  }

  .edit-form .btn {
    width: 100%; 
    margin: 5px 0; 
    font-size: 0.8rem; 
  }
}

@media (max-width: 550px) {
  .edit-form .button-container {
    flex-direction: column; 
  }

  .edit-form .btn {
    width: 100%; 
    margin: 5px 0; 
    padding: 6px 10px;
  }
}

@media (max-width: 450px) {
  .edit-form .btn {
    padding: 6px 10px; 
  }
  .pl-5, .px-5 {
    padding-left: 0rem!important;
}
.pr-5, .px-5 {
    padding-right: 0rem!important;
}
}


