/* Edit.css */

.edit-form .form-control {
    margin-bottom: 10px;
  }
  
  .partyName-error,
  .details-error {
    border: 1px solid red;
  }
  
  .recicle-bin {
    font-size: 260px !important;
    color: white !important;
}