#homeBanner {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.home-container{
    margin-left: 40px;
    margin-top: 125px;
}
.h5 {
    font-weight: 300;
    color: #b3b3b3;
}
.block-2 p {
    color: rgba(255, 255, 255, 0.7);
    height: 100px;
}

.pt-5, .py-5 {
    padding-top: 3rem!important;
    padding-bottom: 10rem;
}
.h5 {
    font-weight: 300;
    color: #dee2e6;
}