.react-datepicker-wrapper {
    width: 100%;
}

.singleBox {
    .css-13cymwt-control {
        border: none;
        border: none;
        box-shadow: none;

        &:focus {
            outline: none;
            border: none;
        }
    }

    .css-t3ipsp-control:hover {
        border: none;
        box-shadow: none;
    }

    .css-t3ipsp-control:focus {
        border: none;
        box-shadow: none;
    }
}