.site-footer {
    padding-top: 10px;
    padding-bottom: 10px;
}
.site-footer {
    padding: 10px 0;
    background: #343a40; }
    @media (min-width: 768px) {
      .site-footer {
        padding: 10px 0; } }
    .site-footer .border-top {
      border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
    .site-footer p {
      color: #fff; }
    .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
      color: #fff; }
    .site-footer a {
      color: rgba(255, 255, 255, 0.8); }
      .site-footer a:hover {
        color: white; }
    .site-footer ul li {
      margin-bottom: 10px; }
    .site-footer .footer-heading {
      font-size: 18px;
      color: #fd4d40; }
  

      .col-lg-4 {
        margin-top: 0px;
    }
    .footer-visits{
      font-size: 18px;
    }