/* Details.css */

.party-cardD-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #c0bdbb;
  background-color: #d4cdcd;
  box-shadow: 0 8px 16px rgba(54, 51, 51, 0.2);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%; /* Ensure full width */
  max-width: 600px; /* Maximum width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.party-cardD-details h3 {
  font-size: calc(1.5rem + 4px);
  margin-bottom: 10px;
  color: #0066cc;
  font-family: 'Dancing Script', cursive;
  text-align: center; /* Center the text */
}

.party-cardD-details p.details {
  text-align: center;
  color: #8b4513;
  font-size: calc(1.3rem + 2px);
  font-family: 'Dancing Script', cursive;
  margin-bottom: 20px;
}

/* Apply similar styles for created by, category, and date */
.party-cardD-details .created-by,
.party-cardD-details .category-label,
.party-cardD-details .date {
  color: #0066cc;
  font-family: 'Dancing Script', cursive;
  font-size: calc(1.3rem + 2px);
  margin-bottom: 10px;
}

.party-cardD-details .button-container {
  width: 100%; /* Full width to contain buttons */
  display: flex;
  flex-direction: row; /* Align buttons in a row */
  justify-content: center; /* Center the buttons horizontally */
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
  margin-top: 20px;
}

.party-cardD-details .btn {
  margin: 5px; /* Space around each button */
  padding: 10px 15px; /* Adjusted padding */
  flex-grow: 1; /* Allow buttons to grow and fill the space */
  text-align: center; /* Center text inside buttons */
}

@media (max-width: 450px) {
  .party-cardD-details .btn {
    width: 100%; /* Full width for each button */
    margin: 5px 0; /* Vertical margin only */
  }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 450px) {
  .party-cardD-details h3,
  .party-cardD-details p.details,
  .party-cardD-details .created-by,
  .party-cardD-details .category-label,
  .party-cardD-details .date {
    font-size: 1rem; /* Smaller font size */
  }

  .party-cardD-details .btn {
    font-size: 0.9rem; /* Smaller button text */
  }

  .site-section {
    padding: 2em 0; /* Adjust section padding */
  }
}

 .btn-primary .text-white .py-3 .px-5{
  text-align: center;
}

.btn-centered-text {
  padding-top: 10px; /* Adjust as needed */
  padding-bottom: 14px; /* Adjust as needed */
  line-height: normal; /* Resets any inherited line height */
}

